
body {
	background-color: #000;
	width: 100%;	
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #d3d3d3;
	text-align: justify;
	vertical-align: middle;
}

h1 {	
	font-weight: bold !important;
	text-align: center;
}

img {
	display: inline-block;
}

label {
	color: #666;
}

/* Menu */
a.navbar-brand {
	padding: 0;
}

a.navbar-brand > span {
	font-size: 24px;
	color: gray;	
	text-align: justify;
}

div#menu-itens {
	text-align: right;
}

#logo {
	padding-bottom: 5%; 
}

/* Sobre */
#sobre {
	/*background-image: url("../img/grunge-background.jpg");*/
	background-image: url("https://lhvmdq-ch3301.files.1drv.com/y4mhadtthdqe7004vc0Qk5q0FxjeUlTqmELXhVv-cSp9jGUsZTG3VW57P_pOM3b24yuDQpJ5K2YtsQvw2h41ft_p83FWvNGiQqSj5aA5MvTBQ6wgvGQYcsOKFecOwnZuqSR0fMSol-RK-23jPY33w1eRR84XLk70k9Cd-tkS_JPLuoex2PcxYLhlCOjz6GJCfr97OmowreGKCLFuFMYjSyuYg?width=1920&height=1280&cropmode=none");
	padding-top: 25%;	
}

#sobre-photo {
	height: 20%;	
}

#sobre-skills {
	color: #fff;
}

.row-icon {
	font-size: 5rem;
	text-align: center;
}

.row-icon > div > img {
	width: 5rem;
	height: 5rem;
}

/* Portfolio */
#portfolio {
	/*background-image: url("../img/black-background.jpg");*/
	background-image: url("https://lhvodq-ch3301.files.1drv.com/y4mGhLSkeMJN35p0hZ3GE8-6IKieeqrJBJbNsyaBiyaABpayTTe3jeVNvOwmwDNqag0pGywHkwWoug42h6wofmjtv8pnsVpcqf0E5bPFZS_1CLgMtfD8r5SF8VDFQTQO_2R2GxSetgL8d72oUB6zG9cZ-6XnZUj_aWm-b_VdCxI7Ck8IMeHKBNgbs0Omr75O5HYIelHIwLwPCuwRWIjXVjfmg?width=960&height=600&cropmode=none");
	width: 100%; 
	padding: 2% 0;
	color: #fff;
}

#portfolio > div {
	padding: 0 5%;
}

img.port-img {	
	width: 100%;
	height: 100%;
	padding: 5%;
}

figcaption.port-caption {
	text-align: center;	
}

/* Contato */
#contato {
	background-color: #eee;
	width: 100%;
	padding: 5% 0;
}

h1 + hr {
	border-color: #666;
	padding-bottom: 5%;
}

#contato-email {
	font-size: 2rem;
}


.form {
	width: 100%;
	margin-bottom: 5%;
}

.form > input {
	text-align: center;
	
}

#form-submit {
	height: 20%;
}

.btn-linkedin {
	background-color: #0077B5;
	color: #fff;
 	border-color: #2e6da4;
}

#social-title {
	display: none;
}

#social-button {
	padding-left: 10%;
}

/* Rodape */
footer {
	padding-top: 2%;
	background-color: #000;		
	color: #fff;
	width: 100%;
}

.rodape {
	font-size: 10pt;	
}


@media screen and (min-width: 768px) {
	p {
		font-size: 28px;
	}	

	#sobre {
		padding-top: 15%;
	}

	#sobre-photo {
		height: 25%;	
	}

	.row-icon {
		font-size: 10rem;
	}

	.row-icon > div > img {
		width: 10rem;
		height: 10rem;
	}

	#contato-email {
		font-size: 3rem;
	}

	.form {
		margin-bottom: 2%;
	}

	#contato-social {
		padding-bottom: 5%;
	}	

	i.fa-facebook-official:after {
		content: " Facebook";
		font: bold 1.5rem 'Open Sans', sans-serif;
	}

	i.fa-linkedin:after {
		content: " Linkedin";
		font: bold 1.5rem 'Open Sans', sans-serif;
	}

	i.fa-github:after {
		content: " Github";
		font: bold 1.5rem 'Open Sans', sans-serif;
	}

	i.fa-codepen:after {
		content: " Codepen";
		font: bold 1.5rem 'Open Sans', sans-serif;
	}

	i.fa-free-code-camp:after {
		content: " FreeCodeCamp";
		font: bold 1.5rem 'Open Sans', sans-serif;
	}

	#social-title {
		display: block;
		padding-top: 5%;
	}
}